@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:"Lora", sans-serif ;
}
.container{
background-image: url("./img/education-3704026_1920.jpg");
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
}

.container_form{
    display: flex;
    align-items: center;
    background-color: #cd87ee;
    border-radius: 20px;
    border: solid 4px #FDC252;
    width: 350px;
    min-height: 440px;
    flex-direction: column;
}
.form{
    width: 100%;
}
.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   margin-bottom: 1rem;
}
.image-top{
    width:130px;
    height: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-leitura{
    margin-top: 10px;
    color: #FDC252;
    text-shadow: rgb(97, 78, 3) 1px 0 10px;
}
.login-input{
    width: 100%;
    height: 40px;
    border: solid 2px #FDC252;
    border-radius: 10px;

}
.form-button{
   width: auto;
   margin: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500
}
.bt-enviar, .bt-cancelar{
    background-color: #FDC252;
    color: #2a1c02;
    height: 30px;
    width: 90px;
}
.bt-crie-conta{
    height: 30px;
    width: 190px;
    color: #2a1c02;
    text-shadow: rgb(247, 200, 11) 1px 0 10px;
    background-color: #cd87ee;
    text-transform: uppercase;
}

